$def with (context=None, result=None, url=None, response=None, seg_results=None)
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Segmentation</title>
</head>
<body>
  <h1>Please input your text context:</h1>
  <form enctype="multipart/form-data" method="POST">

    <input type="file" name="myfile" />
    <br />
    <br />
$if context:
    <input type="input" value="$context" name="context"/>
$else:
    <input type="input" name="context"/>

<input type="submit" value="OK" />
</form>

$if result:
    <h1>url:</h1>
    <p>$url</p>
    <h1>Response:</h1>
    <p>$response</p>
    <h1>Result:</h1>
    <p>$result</p>
    <h1>Filtered results:</h1>
    <p>$seg_results</p>
</body>
</html>

